<!DOCTYPE html>
<html lang="fr">

{% block head %}
	  <head>
	    <meta charset="utf-8">
      {% block title %}
	    <title>Projet L3 SPI - 2014/2015 - Université du Maine</title>
      {% endblock %}
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

	{% stylesheets '@firstBundle/Resources/public/css/bootstrap.css' %}
	    <link rel="stylesheet" href="{{ asset_url }}" media="screen">
	{% endstylesheets %}
  {% javascripts  '@firstBundle/Resources/public/js/bootstrap.js' %}
      <script type="text/javascript" src="{{ asset_url }}" async defer />
  {% endjavascripts %}
	    <script>

	     var _gaq = _gaq || [];
	      _gaq.push(['_setAccount', 'UA-23019901-1']);
	      _gaq.push(['_setDomainName', "bootswatch.com"]);
		_gaq.push(['_setAllowLinker', true]);
	      _gaq.push(['_trackPageview']);

	     (function() {
	       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	     })();

	    </script>
	  </head>
{% endblock %}

{% block navbar %}
    <div class="container">
      <div class="bs-docs-section clearfix">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUAAAABpCAYAAABLRPrgAAAABGdBTUEAALGPC/xhBQAAAAFzUkdC
AK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAZiS0dE
AP8A/wD/oL2nkwAAAAlwSFlzAAAASAAAAEgARslrPgAAYHNJREFUeNrtnXm8ZEdV+L+n7u319dvn
zZ6NAIGQzBIIARQIEraAIKL8+KGohJ8iAgIKCUFBWUNYVFxABAw7qAgo+04IO4SZBJE92+wzb3+9
33vr/P6ou3W/NzNvJrOg6TOfO/26+3bdqlNVp85+hKODDxQBD5BV3D+AAQxgAKcbIqADhEe6SY7w
+TgwCRTihiJAT/eoBjCAAQxgFeABJcACs8BM/HcPrEQAy8CZQAAcBJoMCN8ABjCA/3kgOHq2BhgC
dgGNI/2gAtwbx/0NYAADGMD/FqgB5wMjh7vBA+4FjJ7ung5gAAMYwEmAKo7BKyUfeLkvNwBd4NDp
7uUABjCAAZwECOLXNcA8gIk/8IAx4MDp7uEABjCAAZxEmMVxgGXICOAQztgRHmejAxjAAAbwPwEs
sECsC0wIYBVHAAcwgAEM4H87NHEG35QA+gy4vwEMYAB3DQhxNC8lgIMIjwEMYAB3FUj9ms2daWUA
AxjAAP4ng3+6OwDgXfzye9iw+RvoSgEnCXOqoBG69lyV5rzQmKXXiye+JyHupWFUBAmCG/TGV3z1
dI/xlMHj3gtB8ylgz16Om8Mx+vnvDBTKH+Tjv3Pb6R7KAAZwsuEXggDasHW5Bo3XiKrbh3lCKPHG
VEWNgaiNLh1Ewg6YmIHV+L/8veUqNBdAvHcDdx0CGDSFoH4FNnxEL8FLiFyC28MQQ+OBcCNw2+ke
ygAGcLLhF0MEtt1t2AiwYK0jgOll4yuCQhmCNhI03Xc2iu+32b1R5F4FJGijUbCF7VffhXScEdjQ
4UuT15WucOUrCh3+BjCAuwCcfgK4/c/BhlsF7U250EOy4u+qo9BaRBFUJOP4+slbqQrddszw2LOx
4V0svE/oUR3kXhyYvvtM9pmBgU1sAHcVOP0E0HYqau15So6YJfsvr/4TDwolpL2EiKS0b9leFUXL
NaS9FP/WDnlG7nG6h3nqIE/4MpVAD8JEnfog+dwklw/i5e4dwAD+d8MvgA5QzwOt9OimEh2gJP+p
4+qCwIl3K21Qwd0nHqg4UQ7ALxSiysj5wHdO90hPDeR1fDk8qjoiJwbCAJk/CFE3xltM9MoVMEW0
EBzXkwcwgP9pcNoJoOd5W6IQ6WHlJM+5xJ8NjTqjRvp5cg/ZPdZCuYZ06u6z2iSUhxH1tt51Ehqu
IPoa464oQJYOQbvuvhATG85DwEKj6+7z2gMWcAB3CTjtBNBauzV902+0jLlBxQO/BO19pDJynvAp
TqxD0EoNQdGhcWcwmd0DXnHr6nrzvwFyHGCiJ1UL9RmkOQ/WHSoqXo6RVnr0ggPyN4C7CPwC6ADD
bcYke04RyRE3AUGhPARhByHKdIR5lZbEFmO/AKUhFEEWDyJLh9zvNTqf7S8pnu6hnhowvdxxYx45
dDvSmHW4FQFj4lsSvatBjEkJpgx0gAO4i8DpJYCPe7doobRFoyh2a9HMBVBx7xEn1iZGDUzOoqlg
LWoFLQ+j1TFYnEbm9kLQBjUoCmrHsMFZp3WspwokntIoBBs4bq9YRgsV1Cs4TtlGmXuRde5DajX+
+66jLBjAAE6vCFyfO4Px9ZOUyjB/EIgy1X3K6XlQrMDiAVLFvuA2sQgUyujwJBSr0G0ii4cyIpCA
2hLF0r2An57W8Z4KmN2DdObdASCec2w2BSiWkGIZK8b5SkYRGEE6jZgQWkc0vSJaHR9QwQHcJeD0
EsCZ27eKJ6Lj62DqLGR+P9ptAdZZcmPuhaAFYQCeBxp7PXsFT2uTUCgj9VnU+EhzLiaaiSU53sem
JIxt2AJ87DTj++RDqKoUr5Vi4RMgqc6PbogGDacSQJy6wKvAcA2GxlXDrtLtQLkKpdEfn+5hDGAA
pwJOKwEU7DaCDnLodrQ2hU5uQhoLsDQDGoAKMjQKjUX3A1VQ2cvI1KxWhrfQWEAW7wDUWYm7bTK9
VqxLVEWrw8jc3m13Cbbmey8H+ILCF053VwYwgF90OH0EcPvVEDacddZaZGEvGoyiw1NQHkIW9jux
rFCB9l5H14pD6PCaA9Jt/Fxmdm8h6jpmsVKDoBOHwCXxwZq5gIiB9tyFbHuxYedrB3Fe/5Pg8ncK
B35SIeh4+CXFL7f49suiE9b+9qt9bFgGzetNEkucOBcEC4Uhj6kz3edq40UlIAhh4HFol8QpNQVV
s7Ilvc9FKQFVWHs3KJQiDtwKYTsCsYhEuHrcFgiXJ//AqTdQqI7A8ERsAMtH/1icqj//2fGwAkk7
/UMy4Fc6fPy32ydsTk4hnD4CaEOD2i1ArNoTx/21m+jYWnR8c+aoO7Yu1mV5SH1uL52l21JiZxQq
I0h9mhWD/0sVZ0DRaBNG1uBqHQ/gzsJFL4UoiOOGLSBuM2rI8swzCnjgFeF7rzhyu9teDDbYLJhH
6tjUQ2gcvJd0FiextoDB0mnNsfVPfob4X1XVT2P8n7PjmtUfatuvrmLDB4jwCGy4jbC1AQ1HQQ0W
ce5UOR8Dr+BjPLTkG1pzQtACwVCqGWyEzO0VbORhI4lVL4IYsxwFNrXOq8ZxTxITJmvh4E9heCLS
oWGkFUW06xZVRwBFLEq4IlGNxOF/fh4WdseqHwHfd2oO48czEPuClspuHgT3XEyPR0WWUClHJE3y
n6aqqWx8BjT8EPCCw6+VvwTb7lVL9TyQvs9wPrxfu/LY1+UxwmkUgXUM9Czn1Jy4YAAaIbO70dEN
yOIMOnUGFMtIfR6acyByB+LtSq2VpuDWVdjtjRBJfANLNVg4iI5MVahMnMfJIoCXX1ckCs4Buw10
C7AJGMHiY6QF2gDmQOaAOawuYWiB1IEWVjsYOoBiCTGpAhNUEeNBc9HD94wWKsT+QgbFp9MqUZ+r
0qlXQIuI+EABTAXUB4qgJdR6jK7zGRovM7e3IN1mESihFMQzvtqoiHhivMoro+/+5U1HGq5H8Bs2
ajwTDaEyAqNrlbl90G0ImGVLW4xBuw3YfqVqaTikMPTr3PAnvVzDZW/ewOwdV4va39Kh2gREyMzu
2GqNm98oOIcoughjnixIHWv+Uy/8k1eee88LfvTzf7/isP0tXPwXxaBdf4qEjSvR6N5Ya1KDWqIq
MR7iF6FUdd4Hnu90z1HXHbBBl8SBXIcnoTKK+kWkueA+T8IL0UwC6VmTDiOSEpgEQxbCDszsRXwf
rU3C5AS0FpDmkktesUI7qY+nxgeQDV20jwW6AXQb7h5rEUzsAWChWEaH1yBeAa3PIt2WW2cmHrPx
oVQBv+jw0OlC0HH6404rF1XkuWcb7xF6998q87P3rcgFirbOlKj5jkR979aDF9P3BKXJe0EQbD1Q
Hnyti/8X71YKlefwsd8+4SFKp1MHeD6qxd4YVTd4tRESdtC1Z0C7jizOuEUiBsTcLiK71RiH/Ooo
tJtZG6ml2MW2amXYnYRLs57Xal0QwQ0ndBSPfsckUefJtOd+D7UXoraSftefpiv/eT7Mb3mGqig9
XQVnyGguQHPeYIw7KYwPxbKzkPtFqNVgqIpEXei20U4L0a7bwADGQ2sTTora/2MkbOFC4NzDNUrw
ZrDwj0cbto3sWdjwMsrD6NA4Mr0Luq2Yq7FoHwOoSXafbh0J2gF+w08J5EUvQ8LGw7R56B2MTZ2j
8wfAKyKzu1JrNQoUihB1XJ/VglJDoqeKBpf9/MDBP+a+r/hXbnzZcvnukW+dCA/99M0S1n8zpgRu
83o+lGtO4PVLmRql3UCiwBGevPhoMid8WZyG1pIjVtUxtD7nJI1kXo/mStkTzB7Ps2dANZTF6Wn8
pTt0fNMtOrJplyzsmyboNgTtYExBrQ6DrkPtWdjontjuGYiMugwhmkmqmozTEUUR4wT9oIvM7oW1
Z8PwJNquOzwozuDYbkB9FlF1eICMW02IuhVcFV3A+OdQXb8Z+NmKY42ie6q1l7lMRfEBYnMVOKyN
t4oFnOub2BDmdkHQRIfX/Cde6aSU7DhtBFBga2KoWMYIG4Maz03U4nSmywNEzO2qdl98LHqUqzCb
RIjEkBCe2gTSWoKFQyCK9avbTtgALr/O0G08ke7Cq7DheaiVw7Lz/emlNP+9rvC5S8oHEdJpoQsH
3ckdSzsu6KUL3XqvyCO+s4aXq8jIOOoX3enfaaDlmiOa9XkkbMbtZX5/gkFjYuhEoyODKRSIhja4
vT5zh+PSTDYHIuKIXjxMSbGjCBYlU+N52n6sjVrvl7nFER3fjPgFR/DjNkUMKgkXJJk6KotkWYvY
fzbholj4YL6f3n1fMm47i/+qY2sfLkseeAW0VEW6bdR2nRtQFLgNl+AhXZQmjhbso2ZJbHXYReb3
gl9GRtdCbRyWDjkiomREo+en4trPDnyrwn6Qn+AVrhdT+Lyq/lCRea5/YZRfFitq7rZdVfD9wvrI
htuIwseAPgr0bFSNO88UFd/tp2LBEcSEkC3NIkHLzXfQgeEJR3yCdhxz7+VUnTm85Ne261nZ+P5G
exgCqFNnbJT5fdBaiBev40g12RfGHUZaKDs1l18k9fFt15Eg+L7e+NyTYsM8PQRw+9UQtrYlvnxO
GFC3HyV2yC3VkMYsqWgR4xLsHarRtCBtipUhDQPEBpnyN9ENlkfRoI20Fkg5w7C7lW1/Bjtffef6
/+i3F+ksvIwoeBEaFVdMQJB0NxWDVpq/FT6TmPZ1O0h9xvk2YpanqcpziCiEIUiEaBs6dVCLeCV0
7VlObLGxDsovomvOjO83zl/QRki3keZSVD16QsBozVnI3G5YPBijt1dBrtpL2FOpLyGENiaAW194
Pxu034tGIxSHoFhCC0VYmkNi9YjG4qQifaQobtAq2KiqUefv2Pqindz0+h8ByPari7a79HdMzz+c
2iR0m+jkmUi3DfN7XWvJWSPZWZLGJa3ExSVx6JLTnYUdmLkDilVnxNPQzV2nlbtP0h6rCCLeDF7x
MxZ5j4j/Tb9YWgi+/fJjd0PfeW0Qwi5gV/WSqz/WarVH1NqHidFnUahcqn6hRNB2T+60siQh/frI
Tt1xvuUhdHITtOpOtNfIaVpEU3QvW7tWDcrUYfu4eGiDjk5BbQya80gUoZ6XqRmiCCFy82LDrI+A
4GFK5qYTZ/XqhdNDAG1o0PDC/Ec9eC2Wnc9fp5EF7DtRsqPKfpAlYEmrI0M0FrLfoeCX0dF1rs3Z
XaTshwstuQfja+5cCdBHv92ju/gKbPhC1Hp9vadHrJW+r5J+JhsiTfYQ6448p69haQZpLsbSkcl2
Yk9aqz7sJf6PyX2FEgxPQbfpYqJbi64tazPLuF90BKY0hC2Put8gUBg6KgGUg7dDeyZneY8PrkQ1
kbfG51OdqeMAsAFc8NxxidrvwYZjWh2D4UmY3ec4kMpwH1FNuMmEq8ohN73NrhHb/ku98PlPBawG
jaeLRv8XtRC00cmzoLOEFqswsQmZP5C1pbKMvEqeYqcSay5bUfy7hDOn20Sm70ArNXRkA4QtZHHW
ie0AxldM4SeI/1b1ih9kxzX7kpGtqNx66NsLhJ0yImWirpcam7ySBeliu10pjbb1S79nAZrfugZg
EfgPvfB5H5coeqCEwUvVdn9FUL+HGEsyXu0dW3vJHYaVMeeW1lyC1nyqJ00P3AQvap2qydrNKw3h
nF//Z26dnTmDxrwzkKkFG6Fj65GFg7C4Pw3PTNdIwumrBSNRZPW/jrYejxdOkwisZVTPy96n6VwA
QUs1p4eIrCOEiR5NZV5FFpFCHWMW8EvrpdtOY1i1tsad6N2WyxqdbHbiyavUhikPnQP84Li6ffk7
oTP/f7HhCzLil3Mv6Imvjf9TjUVNeglinvglBqDGAlKfi/vdIzf24Sn5O3u2a84RHh2agKFRpD7j
jEfGxHiUHIHSWOcF0s2dB+KDXz2qo4QZGSei6xTomuh2gJyiOyV+JukkOSIdCTZ6JXAvrU3A8KTT
S3UaTlTXfo7DjVk8PxNJewhTsoTCx4lE9xYxbVX7SlSTlDdgA2R2r1MNjG9E152LzO+H9hLZQdk/
l9I7f/2Gjb7+gXVSRxigazajpSEk7EIQ3IZfvlbrC+9n52sXV0TqQ99RoNs8lyh4IDa6PwsHtxPZ
dajUsBSyxzQiRJsYWtps7Obi1+/AeN/E826kMHIH1z895PtvihS+qhc+73HiFZ+kUfgaQc6JU4b0
nEu9eI456uYc0lxEa+MwsRlpzENryX0HsZrKd2nq/CJSm1q30pB23f5zoTmzUSS3JlTcQTE84eL8
W0sug5Nap1s08SEnBpCDIPs4SXBaCKDvF86OwtZYQulFjLMAJUaQoVG3GeKg/Uw1JtOI3+D7b+ry
wFcclNbSeWBdGFxtAmktIq0l7Og66DTj30scPAI6NOoT6X04XgIYtTZgw9egtk/sJcfdaO5jXb5B
IeYaks0lznCxcNARJHGcYL/ORZKfIahojvzFm04c98vYOsRGMH0Hohb1MmWZ0z8lh0LCNWo8B7HO
zuH7qBygVQPDU6g4hZzYEA3azhoftDFRiNogJWQinnu2VcQzGDH3j1T+QEfXIZVhmNntdGfGZByd
yfUtSeTQR3wk5tOcmAcgQyi/htp7g045+hWb1IMuIsaJWdO3w8hadHwDtGrIwgGnNjBerKNLpycl
FhnuBbU2XZvp52JQU3CicLHqJmxxukll9J904qzX8MkrDvXjUS59t9HO7LmEwVNYOPCrBPZCOlLG
C6nWIrZOHGJqwwyVcU2kRbpLlvkDIxMH5ye4xVbu0ZouPQxjoEidQv173P/1H8UUPiLF2h36lf8X
6AXP+aB43vWC/A3W/gaISRitHgZdBE0MTqhbU/UZlAl0bAMyNObi88UgnkG6HSf+d5swf2DDSuvE
GDVi/HVO75txkGK7MLfXhV6OrHHEMDYkicZGEREQ/+cYv35c+3UVcFoIoI2CbarWLV0B1QjFIlac
/icK082gKXejYLx9mGoHQIfX7JIDP3PmfOM7ZEYRtlB2BMBGzofVxA34JfBLguhW4F+Pr+PhH6LR
Ge5NXq+X7pDl0KMDFBCzhFf4Bp7/FaRwK8aEOrN7CmW7+MVLicKziSJPTY6rQkhInibrU0z8vXUW
3qFJJzbWZ5w/JaAmhztIfysJoc7tAEVjfVC/r9ZhYH4v0o0TVPilzL+sOATVCaxnnJ7RBu4wigKn
gyJEI+tFxvyNjm8s4Jcc8es0MzzFej+xgFgUk9qR1JhYXxz3O9VuJAYdC8gfqbImGaPirIt4niPy
JmYKFw4g7To6th6dOhuZ248GrZ6pc2qDBH9Ox6zJYeH54JexhaLLQuR5gEE6TaTTBM//sVbXPEsX
Z77EV1/Si7+HvsOns/BLurD7jwnsY2iaSqHS5km/fAtPfdRt3OPsFmffo43iYa0sqxMmohijEEb8
6L+H+fHPy7z3M3erfXLnGQ+xdR5CufMKLSx9ivtf+zcUq9/Srz53n57/rN8C+03BvArVqhpF1aau
j2rUpUkrlVG/5DjlIETUwuxuNOgihQqMTaFh13HPxJbywsoicLcbFAVdrzlFsOYHEnZgZg/iF11C
k8kzHUGtzzpq78kP2HHNSbEAw+kggNuvBtvaJn0EQ2L3CaqjzjKXcEgkf3pgindw0zXuB8bbpePr
3cndaeCMJeJOqeYciMnojipaHU30D1uPq9+XXzdCe+53jkgb+kWJ9EVBJMAU34dXei1+5Sd86opl
Lenl1w3RnHsUUefFEnXvR7cldFuOY0mKPyGOMJh4Uxdr6OgURNblPgzbOU5J0kMm6Yyjpzl5PBFN
0u8EVsEBIsYRALXOYb3ZiYca80SFkss+UyiipogOjTr1RBRCFBrajQvwi8jcbiQKHIeXij7ixPnE
7QRBxFUFVOvFY8qZgZPbPOPUJrCxRx2R3JQ3XBjjLOpBBw7dho5tQNdsdu4f9Znc1MVEVbw43VrV
WSu9Iur7jsgHTecC02k4tyPxFON/Spf097n5pXt70Hbpu0XbMxeweODldMLH08W7dNsBnv3En/C4
R+8h8gt0AkMYCnNL5ZQB6FlTiRJAHIo2nRtw1nkdfvUJNxLWv8vHPruJv//IPWrf/O/J36TQfQLF
4GNc/NqXSnnsh3rou3+tYn8mxnsn4k9QKTvDmF8iTYrRaSLtBoSxEdIhzM1Jdwk51ITahDs0Wotu
v9lgsnDJX5rgW3/Zs3ZETBlhwokviTQgGeduPMSqs8I3Z52+sTKCTmx2c2O56bj26yrh1BNAG4pG
0RYxTuwV8eJXnCdJeciJb8aLORLHnYjbILen27U+u0cW9zmRC2Ju0aTOq2IEtera9StQqbmVFHW3
cPl1wieffmwGt6j7IDQ8s5c2JDq+PLFLoEe2aCLFP6I4/B4+/fuHJy6ffHoD+DCPftunNWo/n1Ln
z4Cqaz9CwpibCuMDsVh27i2tOmYhdgXK4S3V34tkKsfY6p65qUj6fT4X4NGRkyjRnXjaQ2+sM3K4
/jYc77qoiOehxSF0ZArPLmDrM67MgeciekTiOfOcDlDTvln36jlOi247to4T+wgmkWkeaORyGxJb
OHO2JvUKcSdN5hMXi8Rmfj9arqFj69DykNN5GQEpQrning0uL2XQhua8c4NRG7efGGQ8xSu/x5rC
s9n5ul7R7ZffXNX63hfQDq6iEw1fuuUgf/WnN3LP+9RptT1mW0UiK2lhxOWzcPhZERGM8fA95dGX
7+WJv3YHP7x5jBf9zdbil25e/yRK9lc0PPAmRu75Vyz86GPe2rMeH4XhR6VZX0OngdRnY4YhXh/G
xLa3REUF4MXrw8LSNDTmoDYZE8LGpF8oVgJo5PvleWbIRt6oaujaMpmqxRFD4zhP1UwV1pjFNBex
689ViqP/uwigiCmAvU/mJhFzMlagXHUOvDZyHEE67+pEWpXb03Ya87s1CjMaY4HqMLTyiRMUrY45
B+AU7HpssB44NsWqDR7hKCz0iL8Jh9dvBMmslhGmcBXF2rv49O+v7lmf/v0m2/7sNZ5t3WQ1fBee
mVS/DMWSOx3FQHPJccrlISiU0OE1Tsxst8BYNIqcpkeVxMqsKVe9zLqQcjpqimh1YhWhZbbf4QeS
Ays54SUfh6qkpU+NEI2uRabvyBl6LGmsq4JGWZRAFvUj0Gm55BaFEtqci8+jPJukORec/nHmP7fZ
34kRqrXk9LHVEdfk8BQ0G9BYdEQv7Cyb50Q3GetjFeO9V03hD9n5ulSWlkuvQzvzd6M++3aa+rDN
a2b5wMu+wUUPWqLZ8lhYKsSEL+vrseekdYSzq0IYCZ2u4azz6nzsuq/wra8N89RXPGT8wEztL6m0
HsPIuU+LgurXvIUfPj6yfEI8b1xjg5ymAsAKawTSQzOJMGHxANIsocNrhzpD48P0EcAoijY7ziZp
12RzpcnexzEwIlAeAVNwqjClweGcq08QnHoOUHWNiNmUhL0kJzKibvCtRdwJLZmjpIjzuB/bfHvW
DLudl6fjc1Rw4TvzB2KdXxEdXePSOyU1hNtNKFR8TOUCjoUAPvrt0F28ZOUTOD3KMotv/jvjf4Ni
7a2rJn4J7Hw1EXxCtvzpkyXs/BvduQlpxNywV4SRSShPOqLXbbuIF8+H0VhUCbtoJ960Qde9JsQi
b4lO+qnWhbSNb4BCbRXccV/ugH6TrMbzmrpLgNYmXKmChWmkNhYbRmIHZ82JtMZz+h9AE8Xl8Bo3
vsYC0piDkTUwvA6WDub0f5K7+t/3b+b+e4w7Rbttx9XUqpjZPe5AlsQwkli0lzs4O/9N74vqFZ/d
Q/we9s+i9QMPod19D217xhWPuoW/eekOooLHYqNMFGX6PWM4YWAVOgFEVrnoAW1u+eQnecmrLuBN
H7v3Jdjgixot/nY0se16pnf8X5B/Bx3KdMLJXOQdNxOckY1dBPDiIlv7qzTqo8D+no6o3ZjaB5OO
iXFRPX4JLZScDtkrOL1i2HVSTnsJWZi+TWtTCycOK8vhlBNAHZ7cwuI+QQMyM1vsvlEsIfNN97d1
u0YLRXR4LWIDK3P7d6VnuEYzAi2gioKUKthOC4kslMrOEuwXnZNlYw5pLbg2RcQUF7ZE8LnVd9rW
wJ6TEmqSGe3fBPk/YuuDV3wnn/79445hVK/8RTT6I8S+E8EphWwI9Vnn1Du3x7kMLQpSKKLiuwLy
xaLjqGXYKeejyIlv1kKngQZd559mI+d2MjqJVoYxrUWY3n+ceaHzviIp7tzb2gQ6PInM7oP2ovP8
T5yzE38/iYlQnlHDEWZbHXE4L1ac6LU4C7UxdHyTywAuepj+xOKxMXFigJWIYTJtMeFOHHG7bbcW
l7Fj/c8SEHM7fvUZ7HjNUvrpQ/5JtH7g12h130lHRj7y6i/wqEfNs9TyCRoS0+3jw/RRZyJu1loI
Q0O3UOCav/gB99s2w9P+4tLNaPAJ5dDvyNQDPqzT334eYt7KiulmVuYEl+ENioqdAnpySWqhvMHN
YREKVawXJ2lQi3YaSNBBWktot+20GTHTI8YDr/gj7XQ7JwVBMZx6DrA2slULgiwccqExigt5qQ47
yp+IJmLQ6gRUhpD5g4gN5r3SyGJONlsQZEmxVVAX3lSfRWtjLiRJjIsmaM6BDV1dYeNOeqvhtmPq
89KhSaJgGBNvwLh/Tn+U9Dd3fxoCZkLE+/6dwteOVyP3/fN/1W59u9rulanCLgyyJAHxuDQMgcBZ
0BtAojstVWKxoowWK24MnudO47YzOGmpjHRasHAAvMqqROA+StX3F5lPYEL85vZDZyljdTwPIrld
TeE6Vd2NyEaUpylyj7R9v4jWJpDpXS5CIQm3E6AxhwRtdGKjM3p1W329EMV4O1X9D+BV5jCle2L8
3wW7dnnfV9C3pU6/ydUvTqc63gDjv0h3vCZT0Tz0baLN6SfQ6ryblql96m++yAMfNMvskk8YOjF9
RTXfSQARCCMIQsNjL9/LV9Z9gsv+9JeHup2h96jsDRH/n0XDLYg8NxtU3uycvO3rbBowJCDqoXZy
2cOnzj5Tu4vQWkS6TUzUjblqx7W75SxZR5MDSg0q/k13OmrrKHBqCeC2q/EO3rbN1kbR0XVIoejM
3ahz3J2L0977JRjf4HyCZvckXMq05xUaGSsliwgLgqwDz9W8GFkLpSrSbSJLM86vzniocUrvVFVn
w626/c9hx6tW1+/67IiJWkUXukfcx4LjtoznXEBUoFRyn6UWRzGIlO8s2uyNr1K2XvkqI/oraHix
Yx1ih4JSxSU2SLkUkyr/nWRrXYiRtuK0YO53Uqw4twPPx7QWiUoVtFRB197NZYo+KpicQJRYm5O9
I/GeEHRsCq2MIjN7kLDt9Jdx1Ij4pR9hzMPsjmv2u3aALS98s/iFT0nQulg9H0bXI/P7naVYs+c6
V0pxCRgWDrj0acYHbWfGHlP4pJXi/+Hm16d6Kdn2wndo2P4i2I3JOJwrR8q190CSO0G1z9CTxskJ
GO8z5drYR9KUHA//ALp4+4Nodd9Jy9S++o+f58L7LdBolrFWlrkzniqwFtodny0XN/nuWz/Hlt97
XBXx30Vl42O0fsdVYrivwC9l/qVZ8KErLpZ4biQxvMbNZ6kKxWG0MrZp2UObc+vN7C6nkkmcD1Mr
fmxd7yGsiRoEELn5ZOPk1BZF0rBgO0sXMH0HtBbR6jg6sRmGxlC/DBq5gOzxdbB4CJamUWtRBFXZ
3+6EWbod44fAAbUWLVWd0tQUkZk9MLMHDTqx/jz24VJ1+iYsaHg3bHd41f0WMSoiajJfOg07EDQd
RzN/wNUsOXQ7cuBnLjMKCosznsztvu8Jwd1Nr6tj/CvVaifx2XMpwJy6QF0MbzxeTf36EKcmdf2W
bKl1W7CwH2kuEI2tcxzl0jy06tBtH50D1Ch+ZgQaur9tfGnkXkcy4kfQdAQ7S5Cgtjp5ZUL8Urj5
DTM6su4qNV7I+AZozLvfJuF7ko1BNfYDDLvI3D53KNXGXF/QhmL+lJte36OUt5R+jHjXOt2idWvO
NebWRs6448YTpZlsEpxq8jeKinRUCtc0v/bS1FdNm/vOpN19D4Ed/dybr2frxYs02wUi6w5iY07P
JWKIrKHV9jn7PvCZN34LlswYnfCDjJw9ZcPuFarRDPFcYiPUhg4HccYWLVWxQxPY8U3YqXPQyTPR
QsVZ+xcP9TpDX/QykZldmzTq5lS8MQFMcKo5DjunDnDx6ObOSU+rgFNcFU5riJwrxmAWDyKLB53/
UWXYbdS1d0PxkOndsTjjcksKglRqu9h8XoahHdcoXmk3o+td5EizjoQdJ/4OT8HQhPMp9As4rkGQ
LFFvBY3ueQwdFxEPwUPEc4yd8RHjOSdsr4B4ntNbFIfQsXXI/D5Mcw5pLT29cPGfV08E9qyV68X4
HxE8Z+EN2i5XYpwxRVI3Fon/NnGfyb5PCInx3GncaTqq3lxA6jOY+rTLxn00WHMWjG2CyihSqjq8
xCRWxMDERrRcizm/lptH8bIoFMwMo+s/s2Lb5ZGv6dpz92u7iXSWXN+9Qiz+uvZFTTZGY0CDODXV
KEyegXil765Zd8ZPlrW989VgvI+KMTZ1nXEzjNsOHsm2EGNi3ErsIpThOMGlmMI3VPxvpe0/+C0l
2s230JRz3n3lV7j44v0sLCntdkgYBoRh9zRfAe1OyOKS5ZJf3sO7X/Z5aJqz6HTeysg9bvU87yUg
VsS42PDqOExsgqlz0HXnoCMuj6A05pFDt2EO/RyzeMBJa2G7NxwuahVFdJ0Yt2/S5B0J3mN8pkYX
yVSQIrKvVCqc9OTFp1QEFjHnARWNPc9pziGFsnM+Hd/g0lYFTRAvdi8gNoaA1tbczid+r6c9O7F5
lywdjD3SJfaFiTe4VwDPxxaqUCk4fZN4Tj9mMRSHtgA3rrLrkaYdif9LxkAcHaBAdQQtjzilvEZO
PLDhBWF78YVsu/KV7HzdndL4jIyv18WZO64F/VVRHXJRCbEuz/Q2nSrXU+tor9OKO3hjny40TqcV
W11FjtpPDTvutyOTrg8A3Y6zShvjUkTF5Uk1MS7kExpE9iY+/jvdFRv/xNO7/PK1P5P63Gb3i1w2
4kIpM+okc5AYLqMQOXAL1KawG8777vRnnrXiOIxX3Ku2OwdMJkr3XtcZC/hOxZUafJOSrTndnyr4
8mF2vjYCkF95L7q4+9k09DG/fdl/88RfP8B8vUAQ9EZy/CJANxCWGj5PfNJBnvDFn/MfN57zGLzO
FeHau72DIHiyeoWHIzg1UreFdBecjlhzacnQWKWReLkkUVIxiFdU1cleF6XYfWgFvCchq24d6k+6
QdTiJMOpJYCwNXFqdt4rHoQddPKMOPll4DiTnGuCCFAeBr98e/8akpk9uwmbvZbEeMVK2EXDDoZc
/rWE3S5WYXjdlmPo+RxIB9VSMhAgJ85JnGHXc1ZZJT7NYm2Vjf7MmOCndttVH2Dntcubf8BfwTf/
5Ki9WLz+hax/9Jtu2r/7ln9Bgyuk20YrY5kvXS56xnVTsvjhno7nSWLi3uGTK6p+1O0q8wcgaMQb
wjjDSrnmiF+7DvW5rDRn/JzE0Tk+2XYfsf363L5MkRlmfbc5K3HfWJE4C01zHonYc7hBFItF7QSy
H5hMHMKzPH0J9MdbL38mYgLPK16fyL7aPHgunc5L1o/NyRtf8lM6QQURQ6FwGhR+qwARpRP4vOOa
m/j8r07RaFdexULn4zJSeDELB2+gOV929xnSBBTGJ5uAvnFZu4btLzHseE1syvXKIJN5l5oU332v
iSu5xjpCMcXvW/VOev2eUycCb/9z0GBrf6pgLQ0jzTkXv5uzAmX7ULHFKt7i9B39TYrx9khONOnx
+UpFvUwkxIhLGDC6Dgk721bdd684zdD4DJVRxyllfv+OW53YjNjIWTlV40iE2BDhprWIDf/ZaOcZ
bLtq+W5YBfFLYP+nn6fil18lnr9fFPB9xCv2pePLO2lnrz2Kd8lyDKZpn7CrV86LIF4sxhiBbhtZ
dIlbdXjSJdrMhzKmvyOWhCQ8SvPWiZ2Q+aVlmVDFJG1LnCErgjAOFfQ8hCg4fNuiItJrvl9p3Lln
5M+ExG8aZJ+IuQ1AHvZOQ7f9Uhoy+dd//EOKw13aXSWKLNZGv5BXFFk6HaU4EvFPL7gZQrOGsPsy
lsIbpbX470lW9VRdkoSXxuhK8JDiR8MpbJBlramNrkdtIdsHy2Yih99koSiIh/EKN63aSHkn4NQR
QNv1NOpeCDZWKruEzpQqTtHdI6rZtPyvGh8R1bC1cMfyRnWPOhNA5jQdi3SapNe2sWJb1SnlJ9bB
wn6Y23Uftr24sKq+f+/VbfBuRoDqODq+Abv2HBd9MbHWiWXioeVhlxstrtOg1hkI0AiioKxh+60S
td5gLnpx6c6gUndee6sa/yrVMCCKUNHUbzJzT8nhoOc1/j5JYYXLlZfE4a7eLy1uT2IxRuJ5Ddp9
ym2b/Z3Ls5qqFA7XuubHkGMEjOPT1Ebp984wYTOjj41QPTwXG4ahe75NjCBJ7FnyrDiULn1GIm4n
fXIGEISfBUF7CUCbM+fTDn/j4nvt4fJH38bSkqXTCQmC4BfyCsOAKAqw2sVGAU99yk84Y6IOwmOB
kvHM60Ha6V7M78uckU1z6wtsDXQ0RbRfWAdWNMFxavywqQEqmbve9aFgzM47s0dWC6dMBC4UvEpk
vfMSthcMtjri8vapdTq7JNg/TZRg0coIoEvgzS7rvO9Nh6G0QIaANJ4wDf50js9ocQhGpjDdJky7
JKkqZrLgm80B3Lqa/ku38Rm6jSegLjuGnTrH1UyY2euMH2KcV/vQmHPjSQh82InrckTQbnhC9CcE
je3F+175e93Qy5I7HCt41fdio3uierX4JUMU9onAObE/n43GIQojhsjQE0UheImV9egJUZNCVvkz
1EQunZKJObfU4JE826RWV8lZc1duX+JY4Nh9KdE12cSgk89Fm3CHcb+S+ThM275fJBJBjcGIR6SQ
JN5NXGwgdsbNxUanCTsSZb4p/FBv+iuVh70Tnd/zLNoMveF5uykPrcEaD6urZadPJahT0XpKqWQp
+MpHP1Dh+W/Zyq7FYah636VUC8KWf7MY+1lR+/heB/8EG3mI68AgZRFvRJPCY1G4OXEjSt22Yjco
I55zPhKTEb6U0TaLYRiual/eWThlBDAMw81oNJlyZRqHvjVm3aZL8x1pnHbIKb3VeFAemWFkU53v
L2tzQaOojg2Hkopcmkg2SXzhyDooFJGZ3S4/nXNQA6smisILWSUBNF75kxGNBURGdXiDS0hQn3GT
mhCfKIiTaybg/AVdyE8ZHa3F8+s/rIt8m+rIM3j02z5xzGFygH7vVZatV/8Fpeq8bfl/IVBLIydS
JiZvCMm9ByKNSKPurUWKJecmZGXFeIBlz0+cnJN5S2qWhN0cQ5WVgoyfmuphj8ZpatwvtxYSPz33
oqUyNNuOUplkd0UZk5Zw3odbi0ELDR13F+HwoEbca+IWg8QcoKTps1zOyngcGET1pwDaml9LYJ94
77vP85CHT7PUKBAdmcE9DZAjfEVLsWT57MdqXHHNFvZMT0BFF6j4r6My8Xd6wzOdUWfbC9+q3eZj
wXrLDWmQLTRXSgEjFRFZo0n8bhScoelikJgIuntdsRMb2wI0a96VQbgFVy3xpMOpM4LYaIuIMani
03PphbxukwjBGIO1NnU5IEaQLE1DffqANdVlJffs+nsuSWt2jrC9zmVJCeLEKYFzjK5NIs1FZGFf
ZnqPuUSXZc5utfCfq+l++N1X3G4uuvqTOjz6f6W5iNQPxfYWP06GGd+YMlqxadJGLk1Sx3G6kgSR
F8vrbGvpPxhZ8wYu/NOXcuaWgE/87rHh9KZrIh73njd4evBTWqg9B/QR2GADEpachSkLM+xNp++U
/tZoXN0LR6jFxAlBjw6SdyFJcuMllr3EFQbSEz9+gzoWbhUcoHEO7MRibaFAmlzVeM5B2YNM7xuP
Kwl7E/+w7evEWai/Hxb243kmXn+CxbhIvJhIi8mykafTmvwngKg7PMPOo+iy4blPupV2x9LuRD2J
DU4vaJwQXCkVLOVixBe+MMnvvuw+7JtdA0OmwZj/ZgrlN8rwxgP62SelvzSFoS/aKLgFDe/RI0Gk
mM2flB6IMUZYk1N0rBeVNPInbwA1Ii5zY06p6JKgWcTz/1udn+9Jh1OiAxy59I0I0VbROMssCtUx
V60MYqOBZJumx5AhYAp7MKXldVH23xbI3IGD0q6TpMS3I2uhWHGZPEzMmherbqjpHLpkrDYMtvn3
+7NVj0PX3e110lhoiqtPTCIKpZOYxDaTFw3TqBCnuE82aBBgmvMewlVMTH2O5vQGtrzo2JH78acR
ffdVP7A7X/8su/MNd/f8cg0xX8o4JpNGRmQgab/FePFJHJt2FHzfX6X1LbOCZ/OGE4GNkFWJk6T1
dI6NORqB0F7luPHSMgFaGUmyhWRrBQOdTor/IycWcOtPxzc6opf4/SWGstj3NG9Zzw7m5HAm0rCz
mwf/oxAGv4rX5fEP20O7Y4hi5vp0XgkR932lUo4YGwr49tfWcM+HPYxH/vGl7GtNtllTfhNj4+fz
3RddyTee20P8AMLvvLyN5/9rT+5F8jjPXfFcWWudM/Tl1yFhd3N2asS+k2Tqj+yQTNrA+dVK4SZ2
XHNKWOhTwgFG3aYIbEldChQXslafyRZXjBirmkO1Q6zxSnfYHa9ejpAdr7JsfdFeWk3EhkgUOgIY
Rc5NQ3BWrNoEGA/rFxyXGIYuMUAUbQmnzl6Jt18RdN/PdkrUeTvi/fHKd+R6nnjdZL8mdbCN9VM6
vhEJOmgYPNTU934dMb9pL3zBd/n+Xx83roMwTJ7S0y2htz9ug3g4I0icKSYlHkdfFs51pDcrihjQ
KFFlSB/RzfGB0uv0unL7Nm3fpcQ3afSAdJtQm3TqkyAx9oorKuX5ENksvnQFKCztxzbmsRObsOMb
kNn9Lutx6huZ6Kr6dJy98cAtQWa1Mz9OEP3S1s0LbLqbsFAvUCicPr+/hE77vqVUdNeXPreR5772
PH6wqwZl22JE3kVl8rV87Vm3H73B0kcheBFIMf+MlccnGDGbLYDtFtSG63vIpqwGLwLi3XSq8HVK
OMBWs14CvTfg1pAf1yntNPus4zGJlN73FjnsRBljdiV+eLY2iVk46JJldusuNXlr3jnkTu/GO3gr
3vx+pLuIhAFaKJ3D3L5RVgs7r8UrVl6BmB9mFte89bl/LP26t9hp2hgX2A94s3viGF09W4i+7Bl9
Bhe+4Pjlpx5ZPNcbPUx/Eouw+/EK4zgSJIaH5Z+55nNWvfzcJmzKKtqXJDtMsZLqiiSK8BYPxvrd
Qu88JG4xRzrT1CneZXo3Yi06udGF2qXWau3pQ//8uVKRtu4Zu0QU3p1QNzzqgYtY9VGN0+LLqb2M
MXieoVgQakPKyIjlhi9NceEjHs6vPOsifnCw2mZU/pHh0fvI8LpnrYr4ARa9yenkeuexD6Hppeja
eMEVEJlceU/3Xz1rMvB9c3w1e44DTgkB1EJpQtWemSrAK8NIezEWh1d2Mu1RBaoedrLs0NhuXXMm
+D5m1tWWkFTclMxPLRGnNULaLRe7WJ/xpLW07VjGElgzg5inCyzE0jRJyqcsw8XysZBEj3gFF/8c
Bpj5fXHavNgw46I73mZE32y2v2g1GQlWQDauD3GhpCSoQ/LiW9qvmPNG3Urw00P+qGVY89Lpsmqd
YlxhJ9N7f+bbKdjSaqIDnbRgh9egfiGTPotlbBgi8/vR0bWu30pcJ2R1zRI7WJuFA0jYxa45E4ol
DNaJYfn41MRtw8bEsFSB2sQioxuaRNF9CTx50sNvI4wyv8dTdSUF/4pFpTYUMTwScMMXalz4yEt5
xHPux38dKDcZ9/6RkZF7y/CGZ/HN59+q11+x+vW045oAU/ispBb9Xt/ObN4TNYeNEyJoRUTWrJz4
YflazB0+e7udzvTqO3jn4NQQwMlN5+vI2kJisJNOC1mccYli+/PqqaYHsBNjjIqYOw7bdmlolzRm
kfmDqdVRVbLkzWR/u/biKJRYhyeiDzmmwex4NWqK34o2nPdMO3l2R9dsQmuTrvyhcW6FGtmUKKLq
GCFroVBG15wB3SZm4SCaTxia7m4rWPuHROF/yvar1x8zssfXoyNTqsWaS4GV9sXmcC0Jqkkz9Fpc
avoVrX0r4D3+bU/EHfH82hjvqSEgnhPr5lbH12PH1q3qIVqsQdTFREGKK4cuZ3WXuf2uDnShmI4t
jTY5EsRiuFpF5vYj7Tp2chNRddzpF5MsJXG2E62No1NnYdfeDTu6EVsdWwgKQwFqzyUSxiaKhGGW
zv5kX8kQfE+pViJqtYDrP11hy8MfyGXPfRD/tbfSYNR7C8Mj95GR9c/imy+4Ta9/xjEvJwBj/M/2
+1X2njUZrq21bs1qNCHYarIGltc1IccExkjzC1Cq/RAxK4dIngQ4NVbgKNyqhQrR5GZXW3RozOWh
6zQRIui0iR28Yu5FM5M40jYiBw4nMMnM7n2ELacwSnWJCRHNb2bJnVq5uE4bPrZ4yStf2f3WS1et
tdGdr4PL//lfaNWHJer8g3p+UctrCH1nqZTIlYiUdgPBOqt0cRQ7PIm0FjGLB8kCwTPfqLh1cK4Z
lwl8hu0vfrzueO2qxBU3OIMWK65WSMwJarvpUoSFgStdmaAmfpxRi40PjrQk4apgJRE4pYBkxDbj
jO3QhCurGAVHfo6qS2VWrWFm92ErI3FatMRg5mzZRAEsHMSOrkNUXILNoyoQTNa/RO+5cAgNOtja
hCO8fgFde05m7AJXYL7TiFUs3cXa+FS4iH9WdWKeczdO04iGsEk945MEqY4vdmcplUM+97Eaz3vD
hfxwzwRUpMmYeRfFoTdIeeRW/fIVd1odGVl7o8ACMJbvR0aMk1MwAqtrufezhTCYBC30isDJD5S0
SFKp5vxny0NYrwimeDPF2kkuhZTBySeAl18H7bltEDm3Br/gEpcWKmhtnKjgqlGZKETDrkvvbiMk
CpGghWo0J8LS4ZoXYw5hpIOaSiaKSd8m6N8R8QZSRQjvF7YXzudYawV/8gpk+4vf4WknsGH3zWqj
KuJDqeg4L7+IHRp3RaOjNjTrPcQv38FegUAysZJgi6h8Ui+6+jH2e9fcsap+ze7BaEew1lUvK1Wc
D+KIU82I2jiNVwsvaGODDrYcZ1uO6yjL0bgnelUUvZhVbOwDJz1WYHXW23INM30HTBzF3UYFxtYi
CwdJN04SX51YZuNQPsIuLBxCx9e7jNc4Onk4OT49d9IT0XHB0lzAxIk0NGyj1XGkXYeg46qkqc0s
+V5xfvGGv4Dtrx/3ii3Ui8PeopPn/uJEXqVctFRLEV/+fI1nXnNffrJ3Ckq2yZj/PorVN0pp+Cd6
/TNOmB1Gxew3nv9TouDiHqNXnpnTRJ0SDVUr5Ykm0WaSwyjn4yt+0SUoifNPugQlbaS55Lh8y812
5+tPGg774eQTwLBTQKPzXUI6xczvj7mfxdRSqH4xTuNeRssjUCw43sIxhfuDbtQ+XPO+5y2EAYug
lSxhYx5W0jHm5DaLoeQ/j8e+65l84nePac3YHa9Vu/XKd/ue7lPkvSIyRbcDxEk5raJDY+jQmLN6
zx/IEb+VNkrGsabBGzY4X5QPF+//skd1v/2KmaN2Kq6vIcYlhMgK+Yir9VoZAlOA0SnCJHxOYy51
aBwNOuTiCo8CSTLRPFJiXZznu1okiVN7oYQOjWFmkyqRRyEUE+uhOeuKFCUx3akOsbcPYhSJOmhz
IUPhEbZ/GmXSjzc8pDGPndwEXgFvbp8r+Rm7x6g1qV4ZU3CRSWLGjRXwIWpGRCeJACb6vqIf8fUv
T/Cc19+DH++egrI2GOF9FGuvl+LQz/WGPzzxBugd16DbXvQNkfDilfGai91XymqjEdAztBIfrBi0
PORqJycp2doNzMI0dOpxlVYF8bRQGbm5fUydu3Nw8gmgMITq3VMRN3axUBUkLlruNmoXac27DMbi
O6V3sYIWinsZXn/YwHavWGwEgTdHEKzLqoa7B2siXS5TuiYitkVHp7CVsd82C/veZI+VCwS46XUa
brvys8aTy9RG7xPxLnChEK6Ati2U3LiLZcd99Tuo5SXfnhM1IYIKBPeNus03m/u+7Gn2xlesQj+S
+VWlxX5UkbCNLLVSbkpLFdQUHXEJOg4XE5sITHF1bkGpy1JO1SC9JEot4BWwoxucwcHaNNXZEcHa
uEBWzD3misaJX3D6Ihtmqg4Fgg52YhPSXMR0j4Sm2BjXY7yRbBheEWwLjbpkyn/6+xyXH4w8z/fx
Kz5+10dXwT0fDzjXFuXT/17lN//koTAaQTVoUS78IZXJ9/G1Z51Uzxsx3reXOwjEXgNKmjQWYypd
vzyB6notVNDxKiBIFCCtOKVW0E7Xu/O9hDgT0VIQ2ltO4jCWwSnQAeq5wEiap69Qcn5niSWux2Ia
Fx0y4k7+Vgdp6WW6NLtPL30jWqo5JAZdxz4bj6YnUKpNYCOwXeh2MWHHiUVBJ40HTtt3fULxsOPr
kGIFs3CwIt3235vtVz3a7rj22Iuw7HwddvvVNwvBw9Do70XtkxUjdnKDc1OY2YOOrWNF6xccvRyY
Ktjub3ie/zkLbz/yzf3tJyst9318WkunidBA/BLh2MbsMCqtLot/RqB7n5f61CVGiYn1mKUZlyEm
zQ14FFg4lPPoiZ+RbMCcC2GPT5pazPwBdGicoLb2iOjsM9TT65Zhod1a0XKem7Ilx/ua2IfSYIys
wsH7+CBR7TzuKW1+evHHefYrz+ez3z6jgoZvwx58LJe8/lrK4zu5/v+dlOer8gOUrqDFdG4TdWeh
5FRapSoUigaRdWb6jjN0bAPSWHJuXlZTVCqSxYv34NT7URCFp5IBPAVWYJWt7g/nQmAxuewkff5o
JAkT4zTuDlllbLhOFvauI6ivk/k961jct87M3LJODv50ndn3k3Vmdk/B1GeQboAUitjhNS5l99pz
iNacSVRbg5aHsX4R9TxscQg7uRnxfGTmDmjOoza4VGz35cMPfs3x4WTHNehNb5hWU3iaGv/ZdnLT
ogAysxfCtqvkJpBlzsgu25PJxfbgR2OruFo1Nuy8onjJX2w4emds9rtU2te+K5EUBdttgQ2ccn92
D/7igaPuYi1UseKhkc1ZmuOsNApKnDJ/dK3z92wtplb4LNPoEUBy3gDZU+OxWGdRzkU8OFE75nTn
92M6h8+lmWWxyfAC5JLVxGtQYVmpgex+F6sq0o5sFzqZQeVkXKqubnCn47HpbobPvP8H7Pzgl3jw
vebLzMtTWGp/g8UDH+SSv7qIh7//hFNhG4W3o3ZercV6RWxlhGhsHXbtOdjxTWht3KWEa9dFwnCD
Vsc3SHMOGnNuTbgaHzmHB122Ji3yXxj/qC5YJxJOAQEMtvbo3MpVeic3D/2ikSHNBZcWJMqsunnR
h9YSsnQQmdmLOXgrZm4PsjTtXG4KRezoFDq+ER1e404qkThLS9yOVTTsvLC5cOj51Qe+/Ljxojtf
F9jNW9+CV/kVWTh4U4/slo6p3x/PjUcjdZXwlm2AeNwabYi67WevrifZMzKLeH+bOXegoBszbFkG
lCOOc3ITuuZM7NRZ6Mgapz/0i64uhxFX72V8I4i4AlVJPQ+FHgfBo4xBY5caV9YyFpdkOQ7TUMdi
AazFNGZX/YyecWnMoaRbo9f/Lfd3HKyvByJVCCxHYBhPCKhCZIV2x7DY8LnX1oCv/Pt3+MY7v8Zl
F8yUmbX/h6XG15i95YNc8sb7yYkkhMWhBTu2abdddy66ZpNLjW8KSHMes7APc/BWZP4AsnAQb27v
OVoZWaNBN7ee+vHX/94D8W9ix3FmRzpOOLkE8PLrPKLgwp6U2Pn0N6uC2ChgQySKnO4nD6lXaBI3
HC/YoIO06sjSIUcUD9yKqTv/SokzVGixjJ3c7E6x0bUwvMZT37u2Y4PX+A/7q+Ov5vaJp8PMgRuN
KT4MU3grafJNWDHSIokuGJ5wZSv7xp69VbDB09h+9cSdm5g+73uJk7iaJN3T0cEcuAWzsB9pLoJf
xFZHseObsZMbERu5+GtTQBYPkQ+LS6yCqxUVM1qZBLomHF+/cSvm6sTVSzkeXVyyhCTNDZjgqEer
6Xpjaca421WfGeKW3aNx1IquwG2fuMtaJYqUIIBG07C4ZNh2/zqffc83+ca7v87jLp4uM6NPZrF+
g87e8m9c8sb7ySM+fOeWC8B3X26lWP2JtBuY2X2YA7cjs7uQ+lxczpaMyxM5G9E1h/cmWCGiRMDz
iye9Clw/nFwCGAVVV3wo0fBLXFc3EYOOZKmD/AZVG7lAG1M8zO8yK4LEE5G5y7uvpbkArSWXhTpo
Yeb2Yhankfos4nnYQhk7ut6PauNXhp75BI96ywU85h3HN/abriHc8fo5KVSeLZ5/hYqZ6+1r7p1X
xNYmsKUKMr8357Dcf6+CRmf4hgcfvQO97gpHK/ORpYE6WhxZfH8UQbuBNOeR2b2YQ7dh5nYjnQ7S
mHf4ntsXi/6xMiPHzK4uW1Q+iiXJ8hKjoTKUW0P5xpJ40zthEujLAL1yv9TpqsT8AOOxb2+AEGGt
PSVXFFnC0NLuKPUGzDcMWy6a56Nv/Qbfev/XeeT2mTLT8iSW6jfo9A8/xAPeeH8ufded4whnd/9U
Fg4hQTs+05NKfX2eDb5/T6yOEnZ75z3FXZ9BEhBRC/akV4Hrh5MsAtsNqK5L3RLiBWsKRQ5rEOiB
5J64HmXYzWUYOdy9ZLqmdIgmJYaSpGNqLTk3jbbzz5PZfZjZXW4jz+8XmT/wK1Kf/gaLB/+WR/zD
3bn8uuNaPNH3rok2nHX+u/DLl4H56YoisEZodQyzcCh2CciLXcuMGmKj6DGHf2J22BzeFzL5PieG
hIELKZPVUQ+JRVExBvFi/8GwiyzNYEfXIu3FOE9iUmUtmRuObdUlYnnClMXd08owpjREplQyiFqX
pHa5haO378tE8MO5JGW4yn8uYlCNOUBPbqQQ6Ue/cg6+FwIRqqf2iiJLt6s0mrBQN5y/ZYaPv/3r
fPsDX+Gy8/eUOciTWGx8hYVd/84lb3wAl/3Lce17Ef/WNKQ0Vp9kuM72qvrli4DKcmK3El7T97d2
u8Hi8fTrzsDJJYBq74PixzlwSAhRFLvCHE3VlP/eGJAwcAWNVrgvzzH2nzhZJiOByKZ1QjKZJ+Eu
Yp1iu4m0FvAW9tX8hT3P9ff/+Eaz66YPmW1/+mS2vnAD268+JmK4+2PPhNkD31NTeDhivtvbQXWW
6/pM7PMmmXU1tWL0coGG8L5sv/ow6fx7dX9HxHE+PCkMXFbuVS+JlfS3xhG9KEC6nZ6H98eOmqPq
GXMW+0LRZXohc6hFIRpZ41QiKyR8PT5WJ+/ukmxOXf69e5bjAI3/c3z2f+m7o5QKgu+5bNWn41I8
wsin3SlQbxW5z9ZFPv3endz0oS/yK+ffVmKGJ7LU/DIzP/swl7zxQTziQ8eEJmPYJTlRYuUptBAr
vQ0m5wx/1Nb/q1QunZIcgHk4uW4warc661z6gUvAWaqgnQZqzQrMsKZFmPMGj0htHAolue/j3/Ux
LdpfeCnmEkQVjZwfnMs0HNKTty8JQ4t7FSnEPn0jIL+OBk8UZIGo89+65fnfwRS/z7q73Yq1Xfb9
1MXSJt0wBkxpmu+96kcA3PR6dPuf7cJ2Ho92P4+NzkcV9Tx0ciPs/1kco5wE3NeQyrBz7u02XZ+T
Pho243kjwAqO0eLE2cSymcd9nyO4JuPWiCQjjKpiw6Ovw6SuS96SLymuDZo4WKd96n3+0TMmx0W5
VaE6Fg+k151HBVeNb25vnM1Z3Ku1zhXnMBB0W3HB7zhZbByapeD0l1bdWulZH/llHd8ISGl0Vgv1
r9748/Hf3L+rxPCUYtXk8H56wCq0uxBEPvfc0ubz7/8hP9hxB89/091LX/japicw1Hw03R99lkve
+Bqqa7/Fl5521B5HUbgfG3VFbal3f/Yjx30X2YBEAstmfuXHqHo3G69yyrF28gjg5dcJ7bmtqYom
yfwi6pIT2NClrF/hrNZlnHPMCbUbrvRiks59FdbKniZSxyXjatmmOqSY80urW5HRw97kZ4IwhsqD
iIIHQRPqB2PzXBOXZim+0xjw5UPAb6Z92PFqFPbplhc8Be18DWuHmdzsupeklE+gXXcp2asjMLIm
tnQvOhxE3SFMcYgVCWDs5pG014PLxBErc1pO/SQTAoglDA/rd977jDQtfkJsMznVfR+Xs0widNJ1
YI6qBFQbuTVSm4w5U115TRSKLi3W/J4sp6GGqD08Ee9Ong1zu1xxrFivqIknAFHsrqGZCJ9wMenc
Smol0S/9rnLx6z+CjX7z3z69jj+8Yg/dLkSnuR5IMi3WQhQJncBw7gVNPv+uHfzX937En/z1fUqf
+/a6X6XYeBTd2z/DJW+8lqG13+CLT7OHb1Pn0aitarOiXj17RbM0Z0mxo1j9pdJ3f/73CHjmptbX
V5+c+ETByROBo6CM2vMya1pOnCjFhpAjpdDrgZhAaeRy/3jeSoa5XBuatbWMVYw/yItOqWOnXeH5
fb6KKbcZE89ux3GmRK5Yd5KbLkkLsiLWS99H/L9jbGOc1NMpi3u9c62rLzK3Bw7d7irnFaswdRZM
bCoztmHkiPiXvtf+MMBURRrPSxjEfVhFQZCVnpV4jugKXy5TYxJnnjlKo8WKS5whsdWkZyo0ey1X
YWSdm79CMXfTYWDxEJSHYHxj1k7qmpjvrFlO/NI3Ocu+X/48Jfb844c3UPCUQsHl5zvVOQEPd6l6
RLFovNgscY8LQz773h3c/L4v84QH7C8yH/0qS/UvML/rP/ilv99yhElZhFj3mZcsUqKWZF3vW0NH
siklWbjFO+UWYDipOkA7gdozUwTkMWD6LUeZUjWnsOv7Lq4olnd5yf+up41Et0dOYUum54Occj6n
BxTT+/z8b/u/7/NFE/FyVdASg8thZn3na2HtPd6GjUIaC3FkTEJBEl2pl+FJFbotWDwI07dDY94Q
dlaeO41I07mnyO8zgCTJBPI+blHMMRVX6/2TH3+OAvYYGPqMOUkUiAhUho/cvBgYXhsTp5VOs2SZ
WXfwlGuOWwTQfHmFFaAxh0zvclFJYxtIq7xpH65Mb9/70uJnGK5OTlM0H/7vW6b49OfGKBSScpq/
OFfiPtPtQqNlWKh73H1Lh4++/XvsfP9XecqlB0sStB5HZ+Ht8pB/Opx+uQ1msXdvZC5O8UZwceBh
N1sT+YivdO3lk27IjIjZtcqFd0Lh5BFAtfcAhnKYcS9xSIyUKs5il5N3l5G9ODOJezVIFMainUc/
Gle60hT06b3x32HHheKgpHUKll35f6avT9lr3ictIXjp848goktj/g6Wpl1h97gYVNpHVSjW6Cn6
npzoChK0Q+qzK4fsja5HKyOK5yOxLiu9+sbg1mM8voQxFAM2WnO06c3Olzz+NCtY3o/L/PhEXFq0
I8H4hswqnR5kuaW0TKwnFpeLHMXjJ+18SgQnNyK59ZAQ296+u985K7PkC1GjX3iqUiy/hTJLV73p
7pSkg+eFJFE9v2hXYjVutmBhyXCfixb5wD98lc1jdYiiNUTdlemC8buIv+Qyz+X3R+/+wvNc6Yn0
vr7913+owI+MOXU5AHuGdNJaVrs1t+LoEb1U0KHxmLtJUoyvYPFMRcjcCaLiRMF+biy7FDERYgIR
aYuYJmLqIAsgs6geIrL7wOxS4TZV+ZmK/FjFfF/F7FAx31ExX1cxX1bjfV5N4VOImUn7tSwDKPHm
zIv6iS7RHpad8qK2It5iyjGlSpJ4TIVizDHlHXKT5qWNyMoUpDaO1CZh6mx0/bku8qVQTvpDmtk4
33/Ti3fR4CnDD37N6pRY/WK+JdUn9jj+4T5Xv4SuOxe8o5gHS0N9+tc+TiPlPnIoj+PIXcGkozh0
J4Ru+g7AQ8c3uSQNNuplNFN8ZZcaHyojPQOX8viPKPvvvvlna/nof4xSLrqM3KciOerxXlEkhJHz
m3zPe85g14FxMN6H8IdWJkY7rkGMWcrmZWWfvh51y7J9ki6yGNcKyM2RNccSHXHC4OQYQVwOwK1J
ofNMT5ASBpf6au05Lga103IcgQ2yGrvG/Ajxn4lXitI8cBqBV1IpjwthlBMbIcZkBwhBIjFEICFK
CDY0RAE2sFHQHfewc5EpdvCHrYpYhIjEWxcUPKfgE0/Z+RrVC5/3MbH6uJU3lXXZQ/JJNsERNBvc
m+1XF9lxzbIFFUWRJ+hUbNUl1uC7dtSC75PUrujVoQkoiyCNFXF/4DbozLhVXRpyouH4Rre523VX
CiBoOZ1fSvfiP7odp5uz4RVLc/s/xLYrr2fn6w4/z2ligzyRyhHXvB+Ota6y29g6qM9Befwoi0hz
hNoZz3oU7nmjSKKAT9bY+Cb0CLHAvf1XZOYOdPIMmDgDnd2doxLxnIigftmJ7eWaS90mpV6t4Jev
UB7wV9dSWXrib73qgRv3X/o5SmVLyxr0F7JAOoi4UpmtRcMfXHsBlNhHaeiNev3TD89Di3fo8Ar4
lT7LEUmbO8xF3ME8NAHV8Z184XmnBQcnhwBGnQIa3adn8MsseOKsmtZCZQiGxhzaojDeqO0fY6Mb
uOmNhzVLHAn677GA2fICX9W+Oeq2durYxKv46tWrG4/xprGHsYwmBDvd7JkIhQ3PFNv9JYUvLeuf
Dc+XpICM8TNMJYYYr+CMRa3FPku5gPH3YPyVCWB1BNozKuqMKNpacg0Xy1CswcgaV5AqaLuM3O06
dLuOQBoBrwRqq9juewj18Wy7aic7r10ZwSv4KDqc9BmT4vQrOroWWotIYwktja5yBnPcf78BJyF4
icybEEbPg7GNq5vbmMuWuT3o2CaYOtt9Vh11luTkEDGey63YnI+LeRWXNzW8eZeGP395c1He8vt/
fh/zwTf/AMXQDU5flbgjDbtYUGo1y2/96Xm0oyGl7F8tpYkDR+yqmJzqZQXrRpKPEouiiOb2A4Bf
RodGoTzs1npzERZmTosBBE6eCDyC6t0yBOUJQ4YoWTyI1Kfh0B1w8BaY3uU2SGUIJjffwlkXnbhl
s+0qbBT8DvBE/NKfg/zaMaApzlHWryk0MWeTM4ZARrDUFgi7b2TLC8/Mtybbr6qJDa9xLF6MC0i5
KS1VwS+5nIiatJg35hR2suOalf08amOkimfjxcW9Bel2XRnSA7c6q3K7gZSG0DVnouvPhfXnxpyO
51LWo2cQhR8nbD6cbVcuZ2FWLGiVGD3yXKvGYxp2iVjrc6vLB5gXcZN2UkKYR3a/iJWss6MnFdFE
M2U8sIrM7nbufUHb6abGN0GpCvV5OHQbcugOpDHnjC4r6Hf1c0+G8ti7GPI/8i9fOoe/fcvZ1KoR
vq9HUgefcnC5BS1DlYi//euzeP8X7wEV82Gqk+/TL/3O0X7eWb6fc3rYmFvXQikzAhbK6PA6dN25
6MQmd/f0LuTALUhjvkO39aPThYuT5Qe4GWUyQ9Bh6FixkuYGFGvBtqHegfocUhy6Rb/4ghPWIXHV
7V8LGLqtEhq+jW0v/jk7X7ua+MP/ooedzY0rinI+baZPK6KgwXYKQ1/nEf/wYTl02y2oHdWg9QSx
4fa8Nj/zJPBgeMpt7EIZV8Tdz91hAL54+IGK46ib887/CnIhbzhrdRRCY87dgyv6Q3UYFmZgeI3T
H7aWoNPYJGHnI4S8Wre88O+4+Q3NtCG7EveXoCfnLqQuxTwjk8j0rjgjsLcKLj5xO8qJ0WkiP7L2
E4u3EKsLZNWVPdPjWZU0c/X8fqiMuHNnacZxyG5iYvcrZ7DSwy3qrz6rw4P+/gXYhQue9w/3PO+S
LQe5+EFd6k2T6ttOJySJVYer8JXrR3jeW+8FNftTSrVnc8MfrCYSo5VxdDnuLjmMjO8uKaJTZ5N4
M0i7gc7ud+qX5ED3PBRuE08WThdaTg4HqGwlZyTNVm3uGLQa687ibvSFpBnjnbDMsKX7/3kJ2/1b
1E65Plmw0RoJ6h/wLnrx5NFbkJtAGjnzLj07Mf3MIvnFkaSGH57cRNh6Lp2lvyZo/aUjfjlfQnCi
gkbo6Lo4IULk8JO4waTPkoOK3HAE3IP4Ocs0mbEoWbBiHKEV46yanToyu8c5XJcqbgFXRmDqTHTq
nGEdmXwNlcp/8uDXbePRb4vnNchEYDkSVwY6tsFlhbGxi85quaFk7STidn8IYX5JpTrm/Bwd/QGS
9j++go4be6GCdOr0uFQljR8ts8TXn7OLcuV3KRSmH/CcX+bGG0sMVSN87/RyggnnV6uG3PDVYS79
o1+CkjdLqfxkqU4dWGUzrZ61lOhKI4v6RXR8Q5x0ZAHC0KWoO3ArLOxHgkaWziwNR/VuVrzTdiyc
HAIYBVt7j7rcaZGPQihVYkVzLrTNLXSNrL31hPTl8uukU597JmHnUXFB6/g5EdjwPlGn/s9su6p4
xDaMf5uKuamHs6GHKJGwHdk4LHg+OrYRac6RPTuxt0DmS+g+1+oo0m3GPlTEp6mXw4+AeB/D+EdY
rIqWy70cWj4zaj7aJXkvsQOrdaKdzO5CDt6KTO9C2gvgFw3VsYfje9cTNK7hEX+3NrMo56x5qZEo
wbFFhyfcqd9ppP3L33J4kL68ETkuMMVFjvvrn5ZVaYqT6ewlphK0M12s9B12ydwerfejZ36Lkv9b
qD93yR88hJ03VhgZUUolwfOco/SpvHzfUC7BSM3y1a+M89Bn/jIUZYFK5clSXbtTv/jbq8IXaNcZ
p+JoLL+I1iYctzdxhisIFnsdyPweF7mU7JFknaVNKZhTnwMwDyeeAF5+nWRJUKVP9RcvppiIaJ4D
7IU6cPCE9Md2LmDtWS/XkXWipSEoVGIXHFydDhs8nrD5MrZdeXhc7LjGYgrvxnjLI/dSP0az7DMd
3+SyoixOu/KNyzZxjJswAK+MlGsu4oPEtUedeJoSMGmoeH/LjmsOv7sVZ8hYidNYiYMiRxiDtnt2
t+2e3W3CwjRy6DZk+lZk6eAInfpVhO1v6tqzn6BTZ6MjU2h5OBNBE5WAiEs7VqzC0nS8HGIc+QVW
RaDyGdNSIWIFo1peNF41HO4HR7Jw5tyujgL62d9Ahjd9lnLhqWp15n7PeAAf+9A6hoYiqhUoFMxx
EEI55ns8z1AoCNUKVIeUf/3ARh76R/eHksxSG36SaOsLev3TjwVxIYWSc69ae7arc12uIY15ZPo2
5NCtUCg4tYLG+tVlgQoxao0B8W461pk7kXDidYBRUEPtub1WvNzRnD/RC7GbXKK7yeAA0FjF0448
uPtePRQduvXv1PPHKFVhaNTpdpp1xzyMrkXm9iFR90rt2v9iyws/yM1vWLkxr/QvaPAnWHveyjfE
Ex4PTUfWOnFqaTZx64mPhCTqIOOYtFiB8RIytz/+fRKgD1qLM0R3myDeP+GVjqKzjEXcJNa5n1As
g5yvXRjEffWyOXF+h+67cA5pzKHGO0dKQ+doeRiqo+BNoGHoolWCJlSGna8cwOxu15bxerm3VXJo
vUNb6VDNqRuORbzmMLjItwk4g47p5aKxebbw8E/48u8iD/3nT6s59ETa7Xc9/oVbz3nxzT/hmpfu
pThk6XQNQSCZd8hRYTWDi1Ufkun7yiUlbHk86+qz+Md/vzuMmZ8xNPJUvv6c7xzrLOjac1yJh24D
6vNIt+Eklp4amTjXtn51SL/m1AWPnzYLMJwUEdiuRW3OB+Fwmy7enF6BZRMrZhfI0SPyjwTbr5aw
U3++thYfIkvTyPTtTqyb2etKKAYd536y5gx0zZkFRqfewuSm+/LYd63c3o5rFlQKf7Zi1fqeSbXo
8CR4PrJ0MNNHSSLK5v3kcAunUHHuADbMdE7JDcbA6FpYe+53dXjjq47I/YE7bIxJM2evztjQK+Kp
X6Qna0eif0v6Zq0rQTC7Gzl4i4uoaNehWHLha90WaOSszmEncxPq6c8qtl7e4J63gvd8J72vdwpW
6lNOB3sc7ev1VyDj597A0MhlTMiXXvuv99S7PfyefONro5RKIUNVpVQUfE/Sokoix3clv/d9oViE
2pBSLkd8/jNjbH7Y+fzjx8+1TJjPMTz2ML7+nO8cD4Zk4WDRSQS7kda8M6glIZs9FnpZxQzLLPin
JQQugRNPAJXzgWIPMnqkrfzxbdFCJTWXOz5RQMxtmNKdK44Sde4vGr0YEBWDiqBRiLaX0FYTKi6r
jCwccHoKrzCGBu8jaB6+6JBX+oiK9ybiQPi013FcvKpFKsNQHoH5/bEaySxbCEo2VvULTj/WXHLv
FdTzc0RQwPi3UBr9Hb7+4qMXulicAwQVPyZiknteqvZ3eI7nI3kvSQYVvxB/Liv8Lis9oMZ3/e22
YeEgHLzNxSurIt022piPf5ddrm/HuuwSznoFCqR99yRwJK7KuEQY2TmU9C+eq1THZ3rmK0mZpcuz
JhwR9LO/Ad98wS0MTz6OYe8vbp1bv/Cg374vj/w/92DPD1uUym0q5YCCHyHiEmqoWqyuIju0JkW0
LCIRBT+kUg4oldr88DtdHvir9+YRz7ovB5prZhj2/5Ta1OP56h/tPsYJyMbSalQ0CpyPfmy07Fkn
xnOGv1QnLrn1kz+9DCrmZgqlY2VCTyicBAKY6P9WGJdzdsvdC5TKuZxyiZ9b8RZ2vOr4+7DtyhHR
8O9RrWXPy1maw7gu6dIs2lh02UGmb4NDt54n+3/yDra+qLpiuzuusfiVl6op/B14ISRxtm4sUqqi
I2tgdm8uXVfu+elrZhCSYgXqs6Qxr2RfOx1K4WYKQ0/gU8/44arGvjTtWiiV+0TOvO9WXo+Wm484
hXlvWpcVlYnZBCacV5wIQprzUB5CoyBnfU6ekyBKoTp2lIXf72iSF0FzzfX4G+bgSCt7/d3QsQ25
NpPLRX5kUdNxZp+eSVmGhNXDDc9qyvCGVzJcezAT3oc/9/2zumf8+mU86PHb+Ph/GqJmh6Fqh3Kp
Q8EP8CRACIEQNETji/gzkRBPAgp+QKXUYajaJqh3+bcP+lz06Is4/7cezjdv2dhkXN5FrfYgmbzX
33DD79+5spMi1R6dXj9KNN5jqWtY/jV3sxFnAPnuy+9Ud+4snFgdYBIC15/rrc+Iln6W+A1lPAlg
EGN+ftzHwrarDGHzamx4v2SH5Pxxso644i1OMtVYL2ct0HmMGH2lbrvqSnZeu5wL3Xlth+1Xv1Dh
JjHRq9XzNmB8mDrTBeIvHoSo4whCsmENTvTFFR1ydEedrmxsHbL3J5lTbiz2qvE6YN5PcejFfPoP
Vm8QGp1yupXYxUU1cr5//YSvx1MlJr428btL/bOzyUrE4DQxa04yTSzjImnaKklSfPU7S6uCGscp
HA3ybcNyktO/rvotxocDa50Hwtg6mN8f+3QnhqyYAyPjAvPrJxnz8a5P/fLTAb7PQ9/+mxQXHki3
/fxv3LL2kY9/4bqRobEuv3bJAR7zgL085MGLbJpqYUZylRFTHXNGsG3dsntviS99dYJPfn0T//Gd
tXSWClDWOYbNxyiW3ySV8R365StOiAuiCKXeT/J2QU2rV/TirreB7PA6PSmw8nBiCaCNyqD3Sq1k
+SJjknufns4GSnGYUWIcEINynD6AF70MgsVLRXher/tC0oEcdxNFSGnI5dxLOM9El2SjP4bOD7jo
z67je69evm5cFMZ1evk7Pk9r/o9pLf4W1dH1LB4SbS1mhCwPEhO/OPgDz0er4zHRTbJiGPBoIYXr
KVRfj1f+Mp98+rEFidcmIVhyoVyIc+QNuznEJ0Q5TwxzbjndDlIeQpvzvfjrz2mf5257/AC9zJDS
X2JTxSUrGJ7k6AxU7KuYy1nbi8/c5/3fGY/eUqR9kKhiKqMO//WZrJHEgJReJntQVtFQXBm9OwHX
/z8LfE0e+ZGvaX33uQy1n9DomCe97/ozLnzf5zfX6IpsPGOBkTGPEVvkgvX7GZ9YApTpmVF+dHCK
BQmZn4nYv3ccSqr4domi2cF48aMUyx+W2uY79LNPPG5ivSKIlBxOks3c51kgvsN9mj5shSSRSZWu
02wBhhNNAE3RUqy9hCgqL1uV+eWSaNAS5WlhGBK1u3gg/g+O6/mCeIXKqNro5epRItt+Boh9bhRU
fbyKhykK/hKIFOjN4lgU8baoeCPAwmGf98ln7GLr1S+iXH0d+JdJp/1YTOkSiNYjMoSqZGFy0psz
cOIMZG4PjKwLMd4SxvsxpvBpRT6K+t/nM886vuwYfkWBV6HR2yg5IsjidCxmZ/6KyycmNs74FdQY
KAy5kLXD4toUIeYG1OaJAxSGlGIgmSSQY9W8olKdBFP88RHHUai8GeRTvf3N+ZOuFIqVvvegUD68
kr84pBjzEtSOMTGKBpFIIrJb69aj8aEwRK+vpske5ZV+clzz0wf62ScC/Bz4Kx7+gTfRPnQWkb0v
QeeX9y6N3mfvQrQJZfTbt20uxdRFQUOMdpDCIp6/iyn/R/j+9XjFGylN7OKLT43y2DiRoFL8J/H1
k1lx+771ZIpuDUkRfD/mQ1YohSueeoXKD05pFfQVIJnOM3BuJ6utJj2Aw8H2q0vYcJPxvDPV2rNB
J0A26NTZJTlwi8GIpVjtaHV0j8zumfHWn/PTcP+tt+IVD7HjmtOSEmgAv6DwyI9Ad7FAZ8HHK9ZQ
nIe7mDY2aFAcCSmOBDgiOoDVQxXYgDt4AEcA72Sx7QEMYAAD+B8BVeBcOOl1gQcwgAEM4BcXBgRw
AAMYwF0WBgRwAAMYwF0WBgRwAAMYwF0WBgRwAAMYwF0WBgRwAAMYwF0WEgIYMSCGAxjAAO4a4FIz
kRG9NvTH+A1gAAMYwP9KKOFK6KYEsAEMcwIyqg1gAAMYwC84jOCyzqcEsAMEwOjp7tkABjCAAZxE
qOLyAixBr95vHy4+rnC6eziAAQxgACcBDLAJ2E+cKyKfASWIb1iPo46DwPwBDGAA/1vAA84CuuQK
rvUnTWvgUmRtxhHE7mpbH8AABjCAX1AYwhG/NrAn/4Uc4QcbcARyMf7h6U7dNYABDGAAqwUDlHHG
XYNT8S3233Q0q2/SQJkjptgdwAAGMIBfKLA4xq0OtDg5+WEHMIABDOB/Lvx/4Cyc8ewWl2UAAABi
dEVYdGNvbW1lbnQAYm9yZGVyIGJzOjAgYmM6IzAwMDAwMCBwczowIHBjOiNlZWVlZWUgZXM6MCBl
YzojMDAwMDAwIGNrOjUwMGQwMmE0ZjFmMWQ3NDk3MzQwY2M1ODY4OTZiZjExhJ/QAAAAACV0RVh0
ZGF0ZTpjcmVhdGUAMjAxNS0wMi0yNVQyMTowMzowOSswMDowMKl2ANcAAAAldEVYdGRhdGU6bW9k
aWZ5ADIwMTUtMDItMjVUMjE6MDM6MDkrMDA6MDDYK7hrAAAAAElFTkSuQmCC">

              <h6 id="navbar">Association des étudiants en informatique du Maine</h6>
            </div>
            <div class="bs-component">
              <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                      <span class="sr-only"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Accueil</a>
                  </div>
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                      <li><a href="event">Evenement</a></li>
                      <li><a href="contact">Contact</a></li>
                      <li><a href="infos">Infos</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block body %}
{% endblock %}

{% block footer%}
<hr>
	<div class="container" id="footer">
	      <footer>
        
		      &copy; Godefroy Poirier & Kévin Demaret
	      </footer>
	</div>
{% endblock %}



    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../assets/js/bootswatch.js"></script>

</html>
