{% extends 'firstBundle:Default:base.html.twig' %}

{% block title %}
	<title>Evenement</title>
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block navbar %}
{{ parent() }}
{% endblock %}

{% block body %}
<h1>A compléter</h1>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}
