{% extends 'firstBundle:Default:base.html.twig' %}

{% block title %}
	<title>Accueil</title>
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block navbar %}
{{ parent() }}
{% endblock %}


{% block body %}
<div class="container">
<h1>A compléter</h1>
</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}
