{% extends 'firstBundle:Default:base.html.twig' %}

{% block title %}
	<title>Infos</title>
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block navbar %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
	<section class="info">
	    <h1>Infos</h1>
	    	<h2>Le bureau</h2>
	    		<p>Godefroy Poirier : Président</br>
	    		Wilfried Jousse : Secrétaire</br>
	    		Antoine Mesnil : Trésorier</br>
	    		Manuel Bouvier : 1er Vice-Président</br>
	    		Kevin Demaret : Vice-Président en charge de l'animation</br>
	    		Etienne Offredi : Vice-Président en charge de la communication</p>

	    	<h2>La cafétaria</h2>
	    		<p>Tarifs prochainement disponibles</p>
	</section>
</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}
