{% extends 'firstBundle:Default:base.html.twig' %}

{% block title %}
	<title>Infos</title>
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block navbar %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
	<section class="info">
	    <h1>Infos</h1>
	</section>
</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}
