{% extends 'firstBundle:Default:base.html.twig' %}

{% block title %}
	<title>Réglement</title>
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block navbar %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<h2 id="pagination">Réglement<h5>En 21 arcticles</h5></h2>
			<div class="bs-component">
	            <ul class="pagination">
		            <li><a href="#1" data-toggle="tab">1</a></li>
		            <li><a href="#2" data-toggle="tab">2</a></li>
		            <li><a href="#3" data-toggle="tab">3</a></li>
	            </ul>
			</div>
			<div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="1">
                  	<h2>Article 1</h2>
					L'utilisation de tout système audio (enceintes, caisson de basses, etc ...) est interdite, seuls les casques d'écoute sont autorisés.
					
					<h2>Article 2</h2>
					Toute personne désireuse de s'inscrire à l’AsiLoL doit formellement indiquer lors de son inscription si elle est sujette aux crises d'épilepsie, ou pertes de connaissance due à la stimulation visuelle de certains effets stroboscopiques ou lumineux. De plus, elle certifie que les données entrées sur le site lors de l'inscription sont correctes et authentiques.
					
					<h2>Article 3</h2>
					Les organisateurs ne pourront en aucun cas être tenus responsables quant aux agissements des participants en dehors de l'enceinte de la manifestation.
					
					<h2>Article 4</h2>
					En cas de dégradation, de casse ou de vol du matériel des participants, l’organisation ne pourra être tenue responsable. Toutes dégradations de matériels causées à un tiers devront être réparées financièrement par l’auteur des faits.
					
					<h2>Article 5</h2>
					En aucun cas, l’organisation ne pourra être tenue pour responsable des dommages, pertes, ou vols, qui concerneraient les biens apportés par les participants, ainsi que d'éventuels dommages qui pourraient être occasionnés aux autres participants; ainsi en cas de contrôle anti-piratage.
					
					<h2>Article 6</h2>
					L’organisation se réserve le droit de se retourner contre un joueur ayant causé des dégradations au bâtiment ou au mobilier lors de l'événement.
					
					<h2>Article 7</h2>
					Les animaux ne sont pas autorisés.
                </div>
                <div class="tab-pane fade" id="2">
                	<h2>Article 8</h2>
					Les bouteilles en verre sont interdites dans le bâtiment, toute bouteille trouvée sera confisquée et détruite. L’organisation se garde aussi le droit d'exclure le joueur de la manifestation.
					
					<h2>Article 9</h2>
					Il est strictement interdit d'utiliser des appareils électriques autres que votre PC (onduleur, ventilateur,...)
					
					<h2>Article 10</h2>
					Toute manipulation électrique ou sur le réseau est interdite, en cas de problème demander l'aide d'un organisateur.
					
					<h2>Article 11</h2>
					Il est interdit d'avoir des propos racistes et injurieux envers les autres participants et les organisateurs.
					
					<h2>Article 12</h2>
					Les mineurs seront acceptés sous la responsabilité de leurs parents.
					
					<h2>Article 13</h2>
					Toute tentative de saturation du réseau, de piratage, de vol ainsi que tout comportement déplacé entraînera l'expulsion de la ou les personnes concernées.
					
					<h2>Article 14</h2>
					En participant, vous vous engagez à ne pas participer au piratage informatique sous toutes ses formes. Vous êtes responsable du contenu numérique de vos disques et de votre matériel.
                </div>
                <div class="tab-pane fade" id="3">
                	<h2>Article 15</h2>
					L'association organisatrice se réserve le droit de modifier, ou d'annuler purement et simplement la lan, en raison de tout évènement indépendant de sa volonté, ainsi que de modifier le montant des différents prize pool, au prorata du nombre de joueurs.
					
					<h2>Article 16</h2>
					La vente ou l’échange de logiciels, d'œuvres musicales, protégées sont interdits.
					
					<h2>Article 17</h2>
					Chaque joueur doit posséder les licences de tous les jeux et logiciels ainsi que du système d'exploitation installés sur le pc. Nous vous rappelons que le piratage est un acte répréhensible par la loi.
					
					<h2>Article 18</h2>
					Il est strictement interdit de fumer dans la salle et de consommer toute sorte de drogue. La consommation d'alcool est formellement interdite. Toute personne en état d'ébriété, ou sous l'action de produits stupéfiants, qui perturbe le bon déroulement de la manifestation sera immédiatement expulsée de la lan.
					
					<h2>Article 19</h2>
					Cette LAN est de type BYOC : bring your own computer. Cela signifie que chaque joueur participant doit rapporter l’intégralité de son matériel de jeu. Si ce n’est pas le cas, les organisateurs se réservent le droit d’annuler la participation aux tournois.
					
					<h2>Article 20</h2>
					Les places s’achètent en ligne, au local et sur place si pas de possibilité de s’inscrire autrement. Une fois achetées, elles ne sont ni échangeables, ni remboursables. Les places visiteurs achetées sur place ne sont ni échangeables, ni remboursables.
					
					<h2>Article 21</h2>
					Les organisateurs se réservent le droit d'expulser toutes personnes ne respectant pas ce règlement.
                </div>
            </div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}
